@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

// Configuração Global
body{
    font-family: 'Poppins', sans-serif;
    h1, h2, h3{
        font-family: 'Noto Serif', serif;
    }
}

section{
    padding: 40px 0;

    &:last-child{
        padding: 40px 0 0;
    }

    .title, .title-intro{
        font-size:3rem;
        margin-bottom: 40px;
    }
    .subtitle{
        font-size: 1.5rem;
    }

    .title{
        &::before{
            content:'';
            position: relative;
            bottom: 15px;
            display: inline-block;
            width:40px;
            height:2px;
            margin-right: 10px;
            background-color: #328698;
        }     
    }
}

.btn-more{
    display: block;
    margin: 40px auto 0;
    width: fit-content;
}

// Cards do index
article.card{

    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    h1{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
        padding: 10px 20px 0;
    }

    img{
        width:100%;
    }

    p{
        padding: 0 20px;
    }
}

// Navbar

header{
    .logo-header{
        display: block;
        margin: 0 auto;
        padding: 10px 0;
        filter: invert(100%);
    }

    .logo-header.fixed-menu{
        margin-bottom:70px;
    }

    nav{
        padding: 15px 0;
    }

    nav.fixed-menu{
        position: fixed;
        z-index: 999;
        width:100%;
        top: 0;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .navbar-color{
        background-color: #328698;
    }
}

// Intro
.intro{
    height:400px;
    color: #ececec;
}

// Sobre nós
.about-us
{
    img{
        width: 100%;
    }
}

.members{
    .mantenedor-diamante{
        max-width:250px;
    }
    .mantenedor-master{
        max-width: 200px;
    }
    .mantenedor-senior{
        max-width: 150px;
    }
    .mantenedor-apoiador{
        max-width:100px;
    }
}

// Ultimas Noticias
.latest-news{
    a{
        text-decoration: none;
    }
}

// Eventos
.events{
    .calendar{
        position: absolute;
        right:0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .day{
            background-color:#d91e18;
            font-size: 2rem;
            padding: 10px;
            color: #efefef;
        }
        .month{
            background: #efefef;
            width:100%;
            text-align: center;
        }
    }
}

// Contato

.contact{
    .google-map{
        width:100%;
        height:300px;
        margin-top: 20px;
        
    }

    .col-4{
        text-align: center;

        i{
            font-size: 2rem;
            margin-bottom: 10px;
            display: block;
        }
        p{
            font-size: 1.2rem;
        }
    }

    a{
        color: #0a0a0a;
        text-decoration: none;
        width: fit-content;
        font-size: .9rem;
        &::after{
            content: '';
            display: block;
            background: #0a0a0a;
            width:20px;
            height:1px;
            margin: 10px auto 0;
            transition: .3s ease-in-out;
        }
        &:hover::after{
            width:80px;
        }
    }
}

// Footer

footer{
    background-color: #2f3741;
    text-align: center;
    color: #efefef;
    padding: 20px 0;
}